.modal-content {
    background-color: rgb(245, 245, 245);
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.location-container {
    max-width: 600px;
    margin: auto;
}

.bth-locationSelect {
    color: #3198ff;
}

.location-select-btn-div {
    display: flex;
    justify-content:end;
}

.breadcrumbs-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.list-group-item {
    border-top-width: 1px !important;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f5f5f5 ;
}

.multi-select-actions-div {
    text-align: right;
    margin-top: 10px;
}

.noUi-connect {
    background: #0056A7 !important;
}

.property-type-tabs {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    justify-content: center;
}

.property-tab {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.property-tab.active {
    background-color: #0056A7;
    color: #fff;
    border-color: #0056A7;
}

.property-tab:hover {
    background-color: white;
    border-color: #999;
    color: #333;
}

.property-tab.active:hover {
    background-color: #0056A7 !important;
    color: white !important;
}

.filter-option {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: black;
    width:24%;
    cursor: pointer;
    text-align: center;
    height: 40px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-option.active {
    background-color: #0056A7;
    color: white;
    border-color: #0056A7;
}

.filter-option:hover {
    background-color: #f1f1f1;
    color: #333;
}

.filter-option.active:hover {
    background-color: #0056A7;
    color: white;
}

.bedroom-options-div {
    gap: 0px !important;
}

.bedroom-option {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-align: center;
    width: 80px;
    height: 40px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.bedroom-option.active {
    background-color: #3366cc; 
    color: white;
    border-color: #3366cc;
    box-shadow: 0px 4px 6px rgba(51, 102, 204, 0.4);
}

.bedroom-option:hover {
    background-color: #f5f5f5; 
    color: black;
}

.bedroom-option.active:hover {
    background-color: #3366cc;
    color: white;
}

.bathroom-options-div {
    gap: 0px !important;
}

.bathroom-option {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-align: center;
    width: 80px;
    height: 40px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.bathroom-option.active {
    background-color: #3366cc;
    color: white;
    border-color: #3366cc;
    box-shadow: 0px 4px 6px rgba(51, 102, 204, 0.4);
}

.bathroom-option:hover {
    background-color: #f5f5f5;
    color: black;
}

.bathroom-option.active:hover {
    background-color: #3366cc;
    color: white;
}


.d-flex {
    display: flex;
    gap: 10px; 
    justify-content: flex-start; 
}


.price-slider, .landArea-slider {
    margin: 0 auto;
    width: 95%;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
}

.ui-menu-item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.btn-reset {
    margin-left:40%;
}
.display-none {
    display:none;
}


.filter-details {
    margin-left: 100px
}

.filter-details span {
    color: #007bff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 150px;
    display: inline-block; 
    vertical-align: middle;
}

.filter-details span:not(:last-child)::after {
    margin-left: 8px;
    margin-right: 8px;
    color: #ccc;
}


.btn-primary {
    font-weight: bold;
    padding: 8px 12px;
}

.border {
    background-color: #fff;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.d-flex {
    display: flex;
    gap: 10px;
}


.tooltip {
    position: relative;
    cursor: pointer;
}


@media (max-width: 600px) {
    .d-flex {
        flex-wrap: wrap; 
    }
}